.main-container-grid {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 30px 30px; /* grid spacing */
  color: white;
  font-family: Arial, sans-serif;
}

.project-content-container,
.content-container,
.contact-container {
  height: 100vh;
  margin: 0px 15%;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0px 100px 0px 100px;
}

.my-info-container p {
  margin-bottom: 10px;
  text-align: center;
}

.name {
  font-size: 48px;
  font-weight: bold;
}

.role {
  font-weight: bold;
  font-size: 34px;
}

.description {
  font-size: 18px;
  color: rgb(230, 230, 230);
}

.sub-description {
  font-size: 18px;
}

.skills-row {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-row p {
  border-radius: 15px;
  border-color: white;
  border-style: solid;

  white-space: nowrap;
  color: black;
  background-color: white;

  margin: 0px 5px 0px 5px;
  padding: 2px 5px 2px 5px;
}

.project-content-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 42px;
}

.title-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.project-image {
  width: 100%;
  box-sizing: border-box;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.project {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: rgb(9, 13, 24);

  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(31, 41, 55);
}

.project-image-container {
  margin: 10px;
  flex: 2;
}

.project-title-container {
  margin: 30px 0px;
  flex: 1;
}

.project-title-container p {
  color: white;
  text-align: center;
}

.contact-container {
  height: 65vh;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}

.contact-header-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
}

.contact-header-container p {
  text-align: center;
  color: white;
}

.contact-input-container {
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: space-around;
}

.contact-title {
  font-size: 38px;
}

.resume-btn-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.resume-icon-btn {
  color: white;
  margin-right: 10px;
  height: 20px;
}

.pin-icon,
.social-icon {
  height: 30px;
  margin: 0px 5px;
}

.pin-icon {
  height: 20px;
}

.location-container {
  display: flex;

  align-items: center;
  justify-content: center;
}

@media (max-width: 429px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  .main-container {
    padding: 0;
  }

  .my-info-container {
    padding: 0px 15px;
  }

  .name {
    font-size: 24px;
  }

  .role {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
    text-overflow: ellipsis;
  }

  .skills-row p {
    white-space: nowrap;
    font-size: 12px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;

    color: black;
    background-color: white;

    margin: 0px 2px 0px 2px;
    padding: 1px 3px 1px 3px;
  }

  .project-content-container {
    height: 250vh;
  }

  .contact-title {
    font-size: 26px;
  }

  .contact-description {
    font-size: 14px;
  }

  .location-container p {
    font-size: 12px;
  }

  .pin-icon {
    height: 15px;
  }
  .contact-container {
    height: 75vh;
  }
}

@media (min-width: 430px) and (max-width: 550px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  .my-info-container {
    padding: 0px 15px;
  }

  .name {
    font-size: 24px;
  }

  .role {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
    text-overflow: ellipsis;
  }

  .sub-description {
    font-size: 18px;
  }

  .skills-row p {
    white-space: nowrap;
    font-size: 12px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;

    color: black;
    background-color: white;

    margin: 0px 2px 0px 2px;
    padding: 1px 3px 1px 3px;
  }

  .project-content-container {
    height: 250vh;
  }

  .contact-title {
    font-size: 26px;
  }

  .contact-description {
    font-size: 14px;
  }

  .location-container p {
    font-size: 12px;
  }

  .pin-icon {
    height: 15px;
  }
  .contact-container {
    height: 75vh;
  }
}

@media (min-width: 551px) and (max-width: 1000px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }

  .name {
    font-size: 32px;
    font-weight: bold;
  }

  .role {
    font-weight: bold;
    font-size: 28px;
  }

  .description {
    font-size: 16px;
    color: rgb(230, 230, 230);
  }

  .sub-description {
    font-size: 18px;
  }

  .my-info-container {
    padding: 0;
  }
}

@media (min-width: 1001px) and (max-width: 1500px) {
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .my-info-container {
    padding: 0px;
  }
}

@media (min-width: 1501px) and (max-width: 2000px) {
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
